################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoMaths/obj/GeoMaths.csproj.nuget.dgspec.json
/GeoMaths/obj/GeoMaths.csproj.nuget.g.props
/GeoMaths/obj/GeoMaths.csproj.nuget.g.targets
/GeoMaths/obj/project.assets.json
/GeoMaths/obj/project.nuget.cache
/GeoMaths/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GeoMaths/obj/Debug/net8.0/GeoMaths.AssemblyInfo.cs
/GeoMaths/obj/Debug/net8.0/GeoMaths.AssemblyInfoInputs.cache
/GeoMaths/obj/Debug/net8.0/GeoMaths.assets.cache
/GeoMaths/obj/Debug/net8.0/GeoMaths.csproj.FileListAbsolute.txt
/GeoMaths/obj/Debug/net8.0/GeoMaths.GeneratedMSBuildEditorConfig.editorconfig
/GeoMaths/obj/Debug/net8.0/GeoMaths.GlobalUsings.g.cs
