################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoMaths/bin/**
/GeoMaths/obj/**
/GeoMaths.Test/bin/**
/GeoMaths.Test/obj/**
/.vs/**

.fake